{% extends 'hello/base.html' %}

{% load staticfiles %}

{% block title %}Edit Profile{% endblock title %}
{% block heading %}Edit Your Profile{% endblock heading %}

{% block extrahead %}
{{ form.media }}
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
<script src="{% static 'js/edit_form.js' %}"></script>
<script src="{% static 'js/image_preview.js' %}"></script>
{% endblock extrahead %}

{% block content %}
{{ block.super }}
<form id="editForm" action="{% url 'edit_profile' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p id="status" style="display: none;"></p>
    <br>
    <div style="width: 400px; float: left; margin-bottom: 30px;">
        <div><p>{{ form.name.label_tag }}<br> {{ form.name }}</p></div>
        <div><p>{{ form.surname.label_tag }}<br> {{ form.surname }}</p></div>
        <div><p>{{ form.date_of_birth.label_tag }}<br> {{ form.date_of_birth }}</p></div>
        <div><p>{{ form.photo.label_tag }}<br> {{ form.photo }}</p></div>
        <img id="img_preview" src="" alt="Your image" style="max-width: 200px; height: auto;"/>
    </div>

    <div style="float: left; margin-bottom: 30px;">
        <div><p>{{ form.email.label_tag }}<br> {{ form.email }}</p></div>
        <div><p>{{ form.skype.label_tag }}<br> {{ form.skype }}</p></div>
        <div><p>{{ form.jabber.label_tag }}<br> {{ form.jabber }}</p></div>
        <div><p>{{ form.bio.label_tag }}<br> {{ form.bio }}</p></div>
        <div><p>{{ form.other_contacts.label_tag }}<br> {{ form.other_contacts }}</p></div>
    </div>
    <div style="clear: both;"><p><input type="submit" value="Submit" /></p></div>
</form>
<br>
<a href="{% url 'home' %}">Home</a>
{% endblock content %}
