{% extends 'hello/base.html' %}

{% block title %}Hello Page{% endblock title %}
{% block extrahead %}
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
{% endblock extrahead %}

{% block heading %}This is my Hello Page{% endblock heading %}

{% block content %}
{{ block.super }}
<p>{{ profile.name }}</p>
<p>{{ profile.surname }}</p>
<p>{{ profile.date_of_birth }}</p>
<p>{{ profile.bio }}</p>
<p>{{ profile.contact }}</p>
<a href="{% url 'edit_profile' %}">Edit Profile</a>
<br>
<a href="/requests/">See requests</a>
{% endblock content %}
